/* Start CSS */

/* Css Element Atas */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

#iconDicoding {
  font-size: 10rem;
  letter-spacing: 1px;
  font-weight: bold;
  background: url("../image/unsplash.jpg");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text 7.5s linear infinite;
}

@keyframes text {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 100%;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

.jumbotron {
  padding: 60px;
  background-color: #f9f7f7;
  text-align: center;
  font-size: 1rem;
  color: #112d4e;
}

nav {
  background-color: #dbe2ef;
  padding: 0.5rem;
  position: static;
  top: 0;
  border-radius: 0.5rem;
}

nav a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
  color: #3f72af;
}

nav li {
  display: inline;
  list-style-type: none;
  margin: 20px;
}

/* Css End Element Atas */

/* Css Emelent Tengah */
main {
  padding: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 0 auto;
  gap: 1rem;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}
#content {
  flex-grow: 3;
  width: 60%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.box {
  margin: 5px;
  border-radius: 10px;
}

.visi {
  background-image: url("../image/background-visi.png");
  background-position-x: center;
  background-position-y: bottom;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(246, 248, 250);
}
/* Aside */

aside {
  flex-grow: 1;
}

.sticky-top {
  position: sticky;
  top: 0;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #f9f7f7;
}

figure > img {
  width: 150px;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}
/* End Aside */
/* Css End Emelent Tengah */

/* Footer */
footer {
  padding: 10px;
  background-color: #3f72af;
  margin: 0;
  color: #f9f7f7;
}
/* End Footer */
